[defaults]
inventory = ./inventory
remote_user = alvaro
ask_pass = false
log_path = playbook.log
forks = 10
vault_password_file = ./vault-pass.txt
roles_path = ./roles/:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles

# collections_path = 


[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
